.item-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: top;
    border: 1px solid violet;
    justify-content: space-evenly;
    width: 100%;
}

.item-header p {
    width: 25%;
    /* border: 1px solid violet; */
    font-size: 12px;
}

.icons {
    display: flex;
    justify-content: center;
}

.item-content {
    border: 1px solid rgb(26, 67, 128);
}